{% extends 'base.html.twig' %}

{% block body %}
     <div class="container">    
        <h1 class="text-center">
            <p class="bg-primary">
                Edytuj status:
            </p>
        </h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
            <div class="text-center">
                <input type="submit" class="btn-warning" value="Edytuj" />
            </div>    
    {{ form_end(edit_form) }}<br>
    {{ form_end(edit_form) }}<br>
            {{ form_start(delete_form) }}
                <div class ="text-center">
                <input type="submit" class="btn-danger" value="Usuń">
                </div>
            {{ form_end(delete_form) }}
    <ul>
        <li>
            <a href="{{ path('status_index') }}">
                <button type="button" color="white" class="btn btn-warning">
                    Powrót do listy statusów
                </button>
            </a>
        </li>
        <li>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('box_user_admin') }}">
                <button type="button" color="white" class="btn btn-danger">PANEL ADMINA
                </button>
            </a>
                {% endif %}
        </li>
    </ul>
</div>            
{% endblock %}
