{% extends 'base.html.twig' %}

{% block body %}
<div class="container">    
    <h1 class="text-center">
        <p class="bg-primary">
            Lista statusów dotyczących zleceń
        </p>
    </h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td><a href="{{ path('status_show', { 'id': status.id }) }}">{{ status.id }}</a></td>
                <td>{{ status.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('status_show', { 'id': status.id }) }}">
                                <button type="button" class="btn btn-info">
                                    Pokaż status
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('status_edit', { 'id': status.id }) }}">
                                <button type="button" class="btn btn-warning">
                                    Edytuj status
                                </button>    
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('status_new') }}">
                <button type="button" class="btn btn-success">
                    Stwórz nowy status dotyczący zlecenia
                </button>
            </a>
        </li>
        <li>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('box_user_admin') }}">
                <button type="button" color="white" class="btn btn-danger">
                    PANEL ADMINA
                </button>
            </a>
                {% endif %}
        </li>        
    </ul>
</div>
{% endblock %}
