{% extends "::base.html.twig" %}

{% block title %}BoxBundle:Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="pull-right">
            <h3>
                <p class="bg-primary">Witaj: {{ app.user }}</p>
                    <a href="{{ path('box_user_user') }}">
                        <button type="button" class="btn btn-info">
                            Powrót do strony głównej
                        </button>
                    </a>                
                    <a href="{{ path('fos_user_security_logout') }}">
                        <button type="button" class="btn btn-warning">
                            Wyloguj się
                        </button>
                    </a>          
            </h3>
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            <a href="{{ path('commission_new') }}">
                <button type="button" color="white" class="btn btn-success">
                    Dodaj zlecenie
                </button>
            </a>    
            <a href="{{ path('commission_index') }}">
                <button type="button" color="white" class="btn btn-warning">
                    Zobacz wszystkie zlecenia
                </button>
            </a>    
            <a href="{{ path('status_index') }}">
                <button type="button" color="white" class="btn btn-primary">
                    Statusy
                </button> 
            </a>
        </div>    
    </div>
    <div class="container">        
        <table class="table table-bordered">
            <tr>
                <th>Zleceniodawca:</th>
                <th>Zleceniobiorca:</th>
                <th>Tytuł zlecenia:</th>
                <th>Status zlecenia:</th>
                <th>Data zmiany zlecenia:</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Dodatkowe:</th>
                {% endif %}
            </tr>
            {% for row in commission %}
                <tr><td>{{ row.user }}
                <td>{{ row.admin }} </td>
                <td>{{ row.title }} </td>
                <td><p class="bg-warning">{{ row.status.title }}</p></td>
                <td><p class="bg-success">{{ row.addDate|date('H:i d-m-Y') }}</p></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('commission_edit',{ 'id': row.id }) }}">
                            <button type="button" color="white" class="btn btn-info">
                                Edytuj
                            </button> 
                                </a></td></tr>
                    {% endif %}    
                <hr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
