{% extends "::base.html.twig" %}

{% block title %}BoxBundle:Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="pull-right">
            <h3>
                <p class="bg-success">Witaj {{ app.user }} <a href="{{ path('fos_user_security_logout') }}"><button type="button" class="btn btn-warning">Wyloguj się</button></a>
            </p>
            </h3>
        </div>
    </div>
        <a href="{{ path('commission_new') }}">
            <button type="button" color="white" class="btn btn-success">
                Dodaj zlecenie
            </button>
        </a>    
        <a href="{{ path('commission_index') }}">
            <button type="button" color="white" class="btn btn-warning">
                Zobacz wszystkie zlecenia
            </button>
        </a>    
        <a href="{{ path('status_index') }}">
            <button type="button" color="white" class="btn btn-info">
                Statusy
            </button> 
        </a>
{% endblock %}
