{% extends "::base.html.twig" %}

{% block title %}BoxBundle:User:user{% endblock %}

{% block body %}
    <div class="container">
        <div class="pull-right">
            <h3>
                 {% if app.user %}
                Witaj: {{ app.user }}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('box_user_admin') }}"><button type="button" color="white" class="btn btn-danger">
                PANEL ADMINA
            </button></a>
                {% endif %}
                    <a href="{{ path('fos_user_security_logout') }}"><button type="button" class="btn btn-warning">Wyloguj się</button></a>
            {% endif %}
            </h3>
        </div>
    </div>
            
            
            {% for row in commision %}
                Zleceniodawca: {{ row.user }} <br>
                Zleceniobiorca: {{ row.admin }} <br>
                Tytuł zlecenia: {{ row.title }} <br>
                Status zlecenia: {{ row.status.title }} <br>
                Data zmiany zlecenia: {{ row.addDate|date('H:i d-m-Y') }} <br>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('commission_index') }}">
                            <button type="button" color="white" class="btn btn-info">
                                Edytuj
                            </button> 
                        </a>
                    {% endif %}    
                <hr>
            {% endfor %}
{% endblock %}
