{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
</div>    
    <div class="container">
        <input type="submit" class="btn btn-info" value="{{ 'registration.submit'|trans }}" />
    </div>

{{ form_end(form) }}

{#                <a href="{{ path('fos_user_security_login') }}"><button type="button" color="white" class="btn btn-success">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</button></a>#}
<div class="text-center">
    <a href="{{ path('fos_user_security_login') }}">
        <button type="button" color="white" class="btn btn-success">
            Przejdź do strony logowania
        </button>
    </a>
</div>        