{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-info" value="{{ 'change_password.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
    <div class="text-center">
        <a href="{{ path('fos_user_security_login') }}">
            <button type="button" color="white" class="btn btn-success">
                Przejdź do strony logowania
            </button>
        </a>
    </div> 
</div>
