{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commissions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Kerg</th>
                <th>Adddate</th>
                <th>Statusdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commission in commissions %}
            <tr>
                <td><a href="{{ path('commission_show', { 'id': commission.id }) }}">{{ commission.id }}</a></td>
                <td>{{ commission.title }}</td>
                <td>{{ commission.kERG }}</td>
                <td>{% if commission.addDate %}{{ commission.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if commission.statusDate %}{{ commission.statusDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commission_show', { 'id': commission.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commission_edit', { 'id': commission.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commission_new') }}">Create a new commission</a>
        </li>
    </ul>
{% endblock %}
